:host {
  display: list-item;
}
.spell__label {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 .5em;
}
.spell__name {
  color: #07A;
}
.spell__memo {
  color: #777;
}
.spell__controls {
  display: none;
  height: 1.2em;
}
.spell__label:hover .spell__name,
.spell__label:hover .spell__memo {
  color: #333;
}
.spell:hover .spell__controls {
  display: inline-block;
}
.spell__expand {
  overflow: hidden;
}
.spell__expand::after { /* Clearfix */
  content: "";
  clear: both;
  display: table;
}
.spell__info {
  background-color: #EEE;
  padding: .5em 1.5em;
  margin: 0 1.5em .5em 0;
  width: 14em;
  float: left;
}
