<div class="sheet__main">
  <app-modal class="modal"></app-modal>
  <h1 class="sheet__title">{{ sheet.title }}</h1>
  <div class="sheet__controls">
    <img class="button" src="./assets/button.export.svg" alt="[Export]"
    (click)="onExport()"
    />
    <img class="button" src="./assets/button.import.svg" alt="[Import]"
    (click)="onImport()"
    />
  </div>
  <app-section class="section"
  *ngFor="let el of sheet.sections; index as i; first as secFirst"
  [(section)]="sheet.sections[i]"
  [secFirst]="secFirst"
  ></app-section>
</div>
<div class="sheet__footer">
  Icons used are from <a href="https://icons8.com/">Icons8</a>.
</div>
