<form [formGroup]="spellForm"
(ngSubmit)="onExit()">
  <label class="modal__label modal__label--flex">
    <span>Name:</span>
    <input #first class="modal__input modal__input--flex" formControlName="name"
    (input)="onSave()">
  </label>
  <label class="modal__label modal__label--flex">
    <span>Memo:</span>
    <input class="modal__input modal__input--flex" formControlName="memo"
    (input)="onSave()">
  </label>
  <label class="modal__label">
    <span>Info:</span>
    <textarea class="modal__input" formControlName="info"
    (input)="onSave()"></textarea>
  </label>
  <label class="modal__label">
    <span>Desc:</span>
    <textarea class="modal__input" formControlName="desc"
    (input)="onSave()"></textarea>
  </label>
  <button #last class="modal__submit" type="submit"
  [attr.disabled]="spellForm.status == 'INVALID' ? '' : null">Save</button>
</form>
