<!-- Mode overlay -->
<div class="modal__overlay"
*ngIf="!isMode('none')"
(click)="setMode('none')"></div>
<!-- Export mode -->
<div class="modal__window"
*ngIf="isMode('export')">
  <h1 class="modal__title">Export Settings</h1>
  <div class="modal__controls">
    <img class="button" src="./assets/button.close.svg" alt="[Close]"
    (click)="setMode('none')"/>
  </div>
  <form (ngSubmit)="onExport()" #exportForm="ngForm">
    <label>
      <h2>Format</h2>
      <!-- exportSettings.format = exportSettings.formatOptions:selected -->
      <select class="modal__input"
      [(ngModel)]="exportSettings.format" name="format">
        <!-- for each of exportSettings.formatOptions -->
        <option *ngFor="let format of exportSettings.formatOptions"
        [value]="format">
          <!-- name of exportSettings.formatInfo[ exportSettings.format ] -->
          {{ exportSettings.formatInfo[format].name }}
        </option>
      </select>
      <!-- desc of exportSettings.formatInfo[ exportSettings.format ] -->
      <p class="modal__desc">
        {{ exportSettings.formatInfo[exportSettings.format].desc }}
      </p>
    </label>
    <!-- why is angular so unreadable send help -->
    <button type="submit" class="modal__submit">Export</button>
  </form>
</div>
<!-- Warn mode -->
<div class="modal__window"
*ngIf="isMode('welcome')">
  <h1 class="modal__title">Project Candlelight</h1>
  <div class="modal__controls">
    <img class="button" src="./assets/button.close.svg" alt="[Close]"
    (click)="setMode('none')"/>
  </div>
  <p style="font-weight: bold;">
    Proof of concept only. Exported files may not be compatible with future versions.
  </p>
  <p>
    This software is provided as is. See our license,
    third party licenses, and continuing development on
    <a href="https://github.com/Mass8326/project-candlelight">GitHub</a>.
  </p>
  <p>
    All spells are used under
    <a href="http://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf">OGL v1.0a</a>.
  </p>
</div>
