<!-- Mode overlay -->
<div class="modal__overlay"
*ngIf="!isMode('none')"
(click)="setMode('none')"></div>
<!-- Export mode -->
<div class="modal__window" *ngIf="isMode('export')">
  <h1 class="modal__title">Export Settings</h1>
  <div class="modal__controls">
    <img class="button" src="./assets/button.close.svg" alt="[Close]"
    (click)="setMode('none')"/>
  </div>
  <app-modal-export></app-modal-export>
</div>
<!-- Edit mode -->
<div class="modal__window" *ngIf="isMode('edit')">
  <h1 class="modal__title">Edit</h1>
  <div class="modal__controls">
    <img class="button" src="./assets/button.close.svg" alt="[Close]"
    (click)="setMode('none')"/>
  </div>
  <app-modal-edit [editProps]="editProps"></app-modal-edit>
</div>
<!-- Warn mode -->
<div class="modal__window"
*ngIf="isMode('welcome')">
  <h1 class="modal__title">Project Candlelight</h1>
  <div class="modal__controls">
    <img class="button" src="./assets/button.close.svg" alt="[Close]"
    (click)="setMode('none')"/>
  </div>
  <p style="font-weight: bold;">
    Proof of concept only. Exported files may not be compatible with future versions.
  </p>
  <p>
    This software is provided as is. See our license,
    third party licenses, and continuing development on
    <a href="https://github.com/Mass8326/project-candlelight">GitHub</a>.
  </p>
  <p>
    All spells are used under
    <a href="http://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf">OGL v1.0a</a>.
  </p>
</div>
