/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

/* 100% = 16px */
/* 1rem = 62.5% = 10px */
html {
    font-size: 62.5%;
}
body {
  background-color: #DDD;
  margin: 1em;
}
* {
  font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}
h1 {
  margin: 0 0 .25em;
  font-size: 2em;
}
h2 {
  margin: 0 0 .3125em;
  font-size: 1.6em;
}
ul {
  margin: 0;
  padding: 0 2em;
  list-style-type: circle;
}
p {
  margin: .5em 0;
  overflow-wrap: break-word;
}

/* Sheet */
.sheet {
  display: block;
  background-color: #FFF;
  max-width: 40em;
  width: 100%;
  padding: 1em;
  font-size: 2rem;
  margin: auto;
}
.sheet__title {
  display: inline-block;
}
.sheet__controls {
  height: 2em;
  display: inline-block;
  float: right;
}

/* Sections */
.section {
  display: block;
}
.section__heading {
  cursor: pointer;
  display: inline-block;
}
.section__heading:hover {
  color: #777;
}

/* Spells */
.spell {
  display: list-item;
}
.spell__label {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 .5em;
}
.spell__name {
  color: #07A;
}
.spell__memo {
  color: #777;
}
.spell__controls {
  display: none;
  height: 1.2em;
}
.spell__label:hover .spell__name,
.spell__label:hover .spell__memo {
  color: #333;
}
.spell:hover .spell__controls {
  display: inline-block;
}
.spell__expand {
  /* display: flex; */
  margin: 0 0 .75em;
}
.spell__expand::after { /* Clearfix */
  content: "";
  clear: both;
  display: table;
}
.spell__info {
  background-color: #EEE;
  padding: .5em 1.5em;
  margin: 0 1.5em .5em 0;
  min-width: 14em;
  float: left;
}

/* Buttons */
.button {
  height: 100%;
  opacity: .3;
  cursor: pointer;
  vertical-align: text-bottom;
  fill: #FAA;
}
.button:hover {
  opacity: .7;
}

/* For media queries, 1rem = 1em = 16px */
@media screen and (max-width: 42.5rem) {
  ul {
    padding: 0 1em;
  }
  .spell__info {
    display: inline-block;
    float: none;
    margin-top: .5em;
  }
}
