/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Raleway:300);

/* 100% = 16px */
/* 1rem = 125% = 20px */
html {
    font-size: 125%;
}
body {
  background-color: #DDD;
  margin: 1em;
}
* {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}
h1 {
  margin: 0 0 .25em;
  font-size: 2em;
}
h2 {
  margin: 0 0 .3125em;
  font-size: 1.6em;
}
ul {
  margin: 0;
  padding: 0 2em;
  list-style-type: circle;
}
p {
  line-height: 1.35;
  margin: .5em 0;
  overflow-wrap: break-word;
}

/* Buttons */
.button {
  height: 100%;
  opacity: .3;
  cursor: pointer;
  vertical-align: text-bottom;
  fill: #FAA;
}
.button:hover {
  opacity: .7;
}
